name: Daily Workflow

on:
  schedule:
    - cron: '0 0 * * *'  # runs daily at midnight UTC
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          
          python -m pip install --upgrade pip
          python -m pip install moviepy==2.1.2 gtts requests python-dotenv numpy pillow imageio imageio-ffmpeg tqdm decorator
          
      - name: Show Python info
        run: |
          which python
          python --version
          python -m pip list


      - name: Verify MoviePy.editor
        run: python -c "from moviepy.editor import VideoFileClip; print('MoviePy.editor loaded!')"

      - name: Run main script
        run: python main.py
